/* =============================================== */
/* Universal Styles */
/* =============================================== */

html {
  font-size: 16px;
}

body {
  font-family: "Gentium Basic", serif;
  background-color: #f7f7f7;
  color: #4c4c4c;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* =============================================== */
/* Header */
/* =============================================== */

header {
  width: 100%;
  background-color: #f7f7f7;
  position: fixed;
  border-bottom: 0.06rem solid #8d8d8d;
  z-index: 1;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.icon svg {
  height: 1.5rem;
  fill: #6c6c6c;
}

#ic-logo {
  height: 2.25rem;
}

/* =============================================== */
/* Main */
/* =============================================== */

main {
  padding-top: 4rem;
}

main section:nth-child(odd) {
  background-color: #ff8a34;
  color: #fff;
}


/* ============================ */
/* First section */

.hero-content {
  padding: 2rem 1rem;
}

.media {
  width: 100%;
}

.hero {
  height: 15rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.hero-content p {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  opacity: 0.75;
}

.cta {
  background-color: none;
  border: 0.08rem solid #fff;
  text-align: center;
  padding: 1rem;
  transition: all 150ms ease-in-out 35ms;
  opacity: 0.85;
}

.cta:hover {
  background-color: #fff;
  opacity: 1;
}

.cta span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  transition: all 150ms ease-in-out 35ms;
}

.cta:hover span {
  color: #ff8a34;
}

/* ============================ */
/* Second section */

.eventlist {
  padding: 1rem 0;
}

.event {
  padding: 0 1rem;
}

.event + .event {
  margin-top: 2rem;
}

.event-description {
  padding-left: 1rem;
  padding-top: 1.2rem;
  line-height: 1.2rem;
  color: #4c4c4c;
}

.event-description p {
  padding: 1rem 0;
}

/* ============================ */
/* Third Section */

.courselist {
  padding: 2rem 0;
}

.course {
  padding: 1rem 1rem 1.5rem 1rem;
}

.courses {
  margin-top: 1rem;
  padding: 0 1rem;
}

.course + .course {
  margin-top: 0.5rem;
}

.software {
  background-image: url("../imgs/bg-course-software.png");
  background-size: cover;
}

.computer {
  background-image: url("../imgs/bg-course-computer-art.png");
  background-size: cover;
}

.business {
  background-image: url("../imgs/bg-course-business.png");
  background-size: cover;
}

.data {
  background-image: url("../imgs/bg-course-data.png");
  background-size: cover;
}

.design {
  background-image: url("../imgs/bg-course-design.png");
  background-size: cover;
}

.marketing {
  background-image: url("../imgs/bg-course-marketing.png");
  background-size: cover;
}

/* ============================ */
/* Thesis section */

.thesis {
  padding: 2rem 0rem 1.5rem 0rem;
}

video {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* ============================ */
/* Footer */

footer {
  width: 100%;
}

.footer-content p {
  padding: 1rem 1.5rem;
}
