/* =============================================== */
/* Universal Styles */
/* =============================================== */

html {
  font-size: 16px;
}

body {
  font-family: "Gentium Basic", serif;
  background-color: #f7f7f7;
  color: #4c4c4c;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

/* =============================================== */
/* Header */
/* =============================================== */

header {
  width: 100%;
  background-color: #f7f7f7;
  position: fixed;
  border-bottom: 0.06rem solid #8d8d8d;
  z-index: 1;
}

nav {
  height: 4rem;
}

svg {
  height: 1.5rem;
  fill: #6c6c6c;
}

#ic-logo {
  height: 2.25rem;
  fill: #d26400;
}

.logo {
  padding-left: 24px;
}

#colmar {
  /* font-family: "Open sans"; */
  font-size: 1.7rem;
  font-weight: bold;
  padding-left: 0.35rem;
  transform: translate(0rem, 0.08rem);
  color: #d26400;
}

#academy {
  font-family: "open sans";
  font-size: 1.45rem;
  font-weight: 600;
  padding-left: 0.1rem;
  transform: translate(0rem, 0.02rem);
  color: #ff8a34;
}

.main-nav {
  padding-right: 24px;
  justify-content:flex-end;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #6c6c6c;
  transform: translate(0rem, 0.08rem);
}

.main-nav span{
  padding-left: 1rem;
}

.docked {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width:720px) {
  .docked {
    display: none;
  }
}

.undocked {
  display: none;
}

@media only screen and (min-width:720px) {
  .undocked {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* =============================================== */
/* Main */
/* =============================================== */

main {
  padding-top: 4rem;
}

main section:nth-child(odd) {
  background-color: #ff8a34;
  color: #fff;
}

@media only screen and (min-width:900px) {
  section {
    display: flex;
    align-items: center;
  }
}


/* ============================ */
/* First section */

.hero-content {
  padding: 2rem 1rem;
}

@media only screen and (min-width:640px) {
  .hero-content {
    text-align: center;
  }
}

@media only screen and (min-width:900px) {
  .hero-content {
    text-align: left;
    width: 20rem;
  }
}

@media only screen and (min-width:1200px) {
  .hero-content {
    text-align: left;
    width: 26rem;
  }
}

.hero {
  height: 16rem;
  background-image: url(../imgs/banner.jpg);
  background-size: cover;
  background-position: right;
}

@media only screen and (min-width:640px) {
  .hero {
    height: 26rem;
  }
}

@media only screen and (min-width:900px) {
  .hero {
    width: 60%;
    height: 28rem;
    margin: 2rem 0.5rem 2rem 1.5rem;
  }
}

@media only screen and (min-width:1200px) {
  .hero {
    height: 36rem;
  }
}

img {
  width: 100%;
  height: auto;
}

.hero-content p {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  opacity: 0.75;
}

.cta {
  background-color: none;
  border: 0.08rem solid #fff;
  text-align: center;
  padding: 1rem;
  transition: all 150ms ease-in-out 35ms;
  opacity: 0.85;
}

.cta:hover {
  background-color: #fff;
  opacity: 1;
}

.cta span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  transition: all 150ms ease-in-out 35ms;
}

.cta:hover span {
  color: #ff8a34;
}

@media only screen and (min-width:1200px) {
  .cta {
    width: 20rem;
  }
}

/* ============================ */
/* Second section */

.keep-practicing {
  display: none;
}

.keep-practicing .banner {
  height: 20rem;
  background-image: url(../imgs/information-main.jpg);
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width:640px) {
  .keep-practicing {
    display: block;
  }
}

@media only screen and (min-width:900px) {
  .events {
    align-items: flex-start;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
  }

  .keep-practicing {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .keep-practicing .banner {
    height: 16rem;
  }

  .keep-practicing h2 {
    text-align: left;
  }

  .eventlist {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.quote {
  display: none;
}

@media only screen and (min-width:900px) {
  .quote {
    display: flex;
    flex-direction: column;
  }
}

.event {
  padding: 1rem;
}

.event + .event {
  margin-top: 2rem;
}

.event-img-full {
  display: none;
}

@media only screen and (min-width:640px) {
  .event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%
  }

  .event-img-mobile {
    display: none;
  }

  .event-img-full {
    display: inline;
    width: 40%;
    flex-shrink: 0;
  }

  .event + .event {
    margin-top: 0;
  }
}

@media only screen and (min-width:900px) {
  .event {
    padding-top: 0;
  }
  .event-img-full {
    width: 35%;
  }

  .event-description {
    width: 65%;
    padding-right: 1rem;
  }
}

.event-description {
  padding-left: 1rem;
  padding-top: 1.2rem;
  line-height: 1.2rem;
  color: #4c4c4c;
}

.event-description p {
  padding: 1rem 0;
}

/* ============================ */
/* Third Section */

.courses {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course {
  padding: 1rem 1rem 1.5rem 1rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width:640px) {
  .course {
  padding: 2.5rem 1rem 2.5rem 1rem;
  }

.software {
  background-image: url("../imgs/bg-course-software.png");
  background-size: cover;
}

.computer {
  background-image: url("../imgs/bg-course-computer-art.png");
  background-size: cover;
}

.business {
  background-image: url("../imgs/bg-course-business.png");
  background-size: cover;
}

.data {
  background-image: url("../imgs/bg-course-data.png");
  background-size: cover;
}

.design {
  background-image: url("../imgs/bg-course-design.png");
  background-size: cover;
}

.marketing {
  background-image: url("../imgs/bg-course-marketing.png");
  background-size: cover;
}

.coursesfull {
  display: none;
}

@media only screen and (min-width:900px){
  .courselist {
    flex-direction: column;
  }

  .courses {
    display: none;
  }

  .coursesfull {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5rem 2rem 4.5rem;
  }

  .courserow {
    display: flex;
    margin-top: 2rem;
  }

  .img-container {
    overflow: hidden;
  }

  .coursesfull-item {
    background-color: #fff;
    color: #4c4c4c;
    margin-right: 2rem;
    overflow: hidden;
    width: 100%;
  }

  .course-description {
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .course-description p {
    margin-top: 0.5rem;
  }
}


/* ============================ */
/* Thesis section */

.thesis {
  padding: 2rem 0rem 1.5rem 0rem;
}

video {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* ============================ */
/* Footer */

footer {
  width: 100%;
}

.footer-content p {
  font-size: 1rem;
  padding: 1rem 1.5rem;
}
